* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: #ffffff;
}
html,
body {
  height: 100%;
  width: 100%;
  cursor: default;
  background: #202020;
}
.landing_Page {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to left top , rgb(43, 43, 43), rgb(2, 2, 2));
}